<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>
<body>
<div class= "container">
  <div class="navbar navbar-default" id="top" role="banner">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        </button>
        <a href="../" class="navbar-brand">AlphaBrand</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/articles'>Archives</a>
          </li>
          <li>
           <a href='/articles/new'>Post an Article</a>
          </li>
          <li>
            <a href='/about'>About Us</a>
          </li>
          <li>
            <a href='/contact'>Contact</a>
          </li>
        </ul>
      </nav>
    </div>

  <form action="/submit" method="POST">
    <p>
      <label for="title">Article Title</label> 
      <br>
      <input type="text" name="article[title]" id="title">
    </p>
    <p>
      <label for="content">Write something!</label> 
      <br>
      <textarea rows="4" cols="50" name="article[body]" id="body"></textarea>
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
</div>
</body>
</html>