/*body {
  background: url(https://scontent-2.2914.fna.fbcdn.net/hphotos-xpf1/v/t1.0-9/10352394_10152085538711502_1454598714943609324_n.jpg?oh=e235b645863caee3b9c144bf7b08a52e&oe=54C55CC2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-width: 100%;
  background-height: 100%;
  width: 100%;
  height:100%;
  font-family: 'Quicksand', sans-serif;
}*/

body {
  background-color: white;
  font: black;

}

.container{
  font-color: black;
}

.soup {
  text-align: center
}